<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<header th:replace="layout/header :: header"></header>
<main id="feed">

    <div th:each="image : ${image}">
        <div class="photo u-default-box">
            <header class="photo__header">
                <img th:src="${'/upload/'+image.user.profileImage}" />
                <span class="photo__username" th:text="${image.user.username}"></span>
            </header>
            <div class="photo_post_image"> <!-- 사진꽉채우기 css -->
                <img th:src="${'/upload/'+image.imageUrl}"/>
            </div>
            <div class="photo__info">
                <div class="photo__actions">
				<span class="photo__action">
					<div th:if="${image.likeState}">
						<i class="fa heart heart-clicked fa-heart" th:onclick="unLike([[${image.id}]])"></i>
                    </div>
					<div th:unless="${image.likeState}">
                        <i class="fa fa-heart-o heart" th:onclick="like([[${image.id}]])"></i>
                    </div>
				</span>
                    <span class="photo__action">
					<i class="fa fa-comment-o"></i>
				</span>
                </div>

                <div class="photo_tag">
                    <div th:each="tag : ${image.tags}">
                        <span th:text="${'#'+tag.name}"></span>
                    </div>
                </div>
                <span class="photo__likes" th:text="${image.likeCount+' likes'}"></span>
                <ul class="photo__comments">
                    <div th:each="comment : ${image.comments}">
                        <li class="photo__comment">
                            <div style="display: flex ; justify-content: space-between">
                                <div>
                                    <span class="photo__comment-author" th:text="${comment.user.username}"></span>
                                    <span style="font-size: 12px" th:text="${comment.content}"></span>
                                </div>
                                <div th:if="${comment.commentHost}">
                                    <i th:onclick="commentDelete([[${comment.id}]])" class="fa fa-trash"></i>
                                </div>
                            </div>

                        </li>
                    </div>
                </ul>
                <span class="photo__date" th:text="${image.createDate}"></span>

                <div class="photo__add-comment-container">
                    <form th:id="${'frm-'+image.id}" style="width: 100%">
                        <input type="hidden" name="userId" th:value="${session.loginUser.id}" />
                        <input type="hidden" name="imageId" th:value="${image.id}" /></span>
                        <textarea th:id="${'content-'+image.id}" name="content" placeholder="Add a comment..."></textarea>
                    </form>
                    <i th:onclick="commentSend([[${image.id}]])" class="fa fa-angle-down"></i>
                </div>

            </div>
        </div>
    </div>
</main>
<script src="/js/comment.js"></script>
<script src="/js/like.js"></script>
<footer th:replace="layout/footer :: footer"></footer>