<div th:replace="layout/header :: header"></div>
<main id="profile">
    <header class="profile__header">
        <div class="avatar__container">
            <form id="frm_profile_img" action="@{/user/profileUpload}" method="post" enctype="multipart/form-data">
                <input type="file" name="profileImage" style="display: none;" />
            </form>
            <img src="/images/avatar.jpg" id="profile_image" style="cursor: pointer" />
        </div>
        <div class="profile__info">
            <div class="profile__title">
                <h1 th:text="${respDto.user.username}"></h1>

                <div th:if="${respDto.pageHost}">
                    <a href="#">
                        <button class="profile_edit_btn">회원수정</button>
                    </a>
                    <a href="/image/uploadForm">
                        <button class="profile_edit_btn">사진등록</button>
                    </a>
                    <a href="#">
                        <i class="fa fa-cog fa-lg"></i>
                    </a>
                </div>

                <div th:unless="${respDto.pageHost}">
                    <div th:if="${respDto.followState}">
                        <a  href="#">
                            <button th:onclick="unFollow([[${respDto.user.id}]])" class="profile_edit_btn">팔로우</button>
                        </a>
                    </div>
                    <div th:unless="${respDto.followState}">
                        <a  href="#">
                            <button th:onclick="follow([[${respDto.user.id}]])" class="profile_follow_btn">팔로우</button>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="profile__stats">
                <li class="profile__stat">
                    <span class="profile__stat-number" th:text="${respDto.imageCount}"></span> posts
                </li>
                <li class="profile__stat">
                    <span class="profile__stat-number" th:text="${respDto.followerCount}"></span> followers
                </li>
                <li class="profile__stat">
                    <span class="profile__stat-number" th:text="${respDto.followingCount}"></span> following
                </li>
            </ul>
            <p class="profile__bio">
                <span class="profile__fullname" th:text="${respDto.user.name}"></span>
                <span th:if="${respDto.user.bio}">
                        <span th:text="${respDto.user.bio}"></span>
                    </span>
                <br/><br/>
                <span th:if="${respDto.user.website}">
                        <a th:href="${respDto.user.website}" class="profile__link" th:text="${respDto.user.website}"></a>
                </span>
            </p>
        </div>
    </header>

    <div class="profile__photo-grid">
        <!-- 유저가 업로드한 Feed 사진 -->
        <div th:each="image : ${respDto.images}">
            <div class="profile__photo">
                <a href="#">
                    <img th:src="${'/upload/'+image.imageUrl}"/>
                </a>
                <div class="profile__photo-overlay">
                        <span class="profile__photo-stat"> 
                            <i class="fa fa-heart"></i> <span th:text="${image.likeCount}"></span>
                        </span>
                    <span class="profile__photo-stat">
                            <i class="fa fa-comment"></i> <span th:text="${image.commentCount}"></span>
                        </span>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="profile__overlay">
    <i class="fa fa-times"></i>
    <div class="profile__overlay-container">
        <a href="#" class="profile__overlay-link">Change password</a>
        <a href="#" class="profile__overlay-link" id="logout">Log Out</a>
        <a href="#" class="profile__overlay-link" id="cancel">Cancel</a>
    </div>
</div>

<script>
    $(function() {
        //이미지 클릭시 업로드창 실행
        $('#profile_image').click(function() {
            $("input[name='profileImage']").click();
        });
        //업로드 파일체인지가 됬을경우 실행되는 이벤트
        $("input[name='profileImage']").change(function(e) {
            $("#frm_profile_img").submit();
        });
    });
</script>

<!-- 푸터 레이아웃 포함 -->
<script src="/js/follow.js"></script>
<div th:replace="layout/footer :: footer"></div>
