<div th:replace="layout/header :: header"></div>
<main id="explore">
    <ul class="explore__users u-default-box">
        <div th:each="following : ${followingList}">
            <li class="explore__user">
                <div class="explore__content">
                    <a th:href="@{/user/{id}(id = ${following.id})}">
                        <img th:src="${'/upload/'+following.profileImage}" />
                    </a>
                    <div class="explore__info">
                        <span class="explore__username" th:text="${following.username}"></span>
                        <span class="explore__full-name" th:text="${following.name}" ></span>
                    </div>
                </div>
                <div th:unless="${following.equalUserState}">
                    <div th:if="${following.followState}">
                        <button th:onclick="unFollow([[${following.id}]])" class="profile_edit_btn">팔로우</button>
                    </div>
                    <div th:unless="${following.followState}">
                        <button th:onclick="follow([[${following.id}]])" class="profile_follow_btn">팔로우</button>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</main>
<script src="/js/follow.js"></script>
<div th:replace="layout/footer :: footer"></div>
